@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;600&family=Poppins:wght@300;500&family=Roboto:wght@300;500&display=swap");

ul{
  list-style: none;
}

dt {
  display: inline;
  color: blue;
  background-color: #faf8e1;
  border-radius: 5px;
  padding: 8px;
  margin-left: 1.2em;
}

dl,
dt,
dd {
  font-size: 1.3rem;
  margin: 20px 0;
}

dl dd {
  padding: 10px;
  margin-left: 1.2em;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  margin-bottom: 2rem;
  text-align: justify;
}

p.h5 {
  margin-top: 50px;
  color: orange;
}

p.destacado {
  padding: 1em 0.5em;
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
}

h3.resaltado{
  background-color: #fd0;
    color: #121f3d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    padding: 0.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: blue;
    text-align: justify;
}

i {
  margin-right: 5px;
}

.img-25{
    width: 25%;    
}
.img-50{
    width: 50%;
    max-width: 50%;
}
.img-75{
    width: 75%;
    max-width: 75%;
}
.img-100{
    width: 100%;
    max-width: 100%;
}

.sintaxis {
  border-radius: 3px;
  padding: 0.25rem;
  background-color: #f8f9fa;
  color: rgb(33, 37, 41);
  font-size: 0.85rem;
  white-space: pre-line;
  padding-left: 20px;
  border: 0.2px solid rgb(198, 198, 198);
}

.comentario {
  opacity: 0.5;
}

.p_articulo{
  font-size: 1.2rem;
}

.text-lila {
  color: rgb(238, 109, 238);
}

.text-yellow {
  color: yellow;
}

.text-green {
  color: #9ed72f;
}

.text-skyblue_1 {
  color: #c2ffff;
}

.text-skyblue_2 {
  color: #00fff5;
}

.text-orange {
  color: orange;
}

.text-tomato{
  color: tomato;
}

.text-indigo{
  color: rgba(170, 114, 230, 0.908);
}

.text-blue {
  color: #121f3d;
}

.bg-yellow {
  background-color: yellow;
}

.bg-lila {
  background-color: #ee6dee;
}

.bg-lila2{
  background-color: #efd9fd;
}

.bg-skyblue_2 {
  background-color: #00fff5;
}

.bg-green {
  background-color: #9ed72f;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: #121f3d;
}

.bg-black {
  background-color: #1f1f1f;
}

.btn-blue {
  background-color: #121f3d;
}

.btn-yellow {
  background-color: yellow;
}

.btn-lila {
  background-color: #ee6dee;
}

.btn-skyblue_2 {
  background-color: #00fff5;
}

.btn-black {
  background-color: #1f1f1f;
}

.btn-green {
  background-color: #9ed72f;
}

.btn-red {
  background-color: red;
}

.nota{
  border: 0.25px solid #eeeeee;
  background-color: #efd9fd;
  border-radius: 4px;
}

p.alert-title{
  color:rgb(59, 46, 88);
  margin-top: 1rem;
  margin-bottom: 1rem;  
}

.p-nota{
  font-size: 0.9rem;
}

p.destacado {
  padding: 1em 0.5em;
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  background-color: #c2ffff;
  border-right: 10px solid #09c5f5;
  color: black;
}