node_modules/
assets/
src/img/
content/cursos/articulos/
content/cursos/otras_fuentes/
content/cursos/videos-list/
content/cursos/items/css/otras_fuentes/
content/cursos/items/css/src/img
content/cursos/items/css/src/videos
content/cursos/items/html/otras_fuentes/
content/cursos/items/html/src/img/
content/cursos/items/html/ejercicios/ejemplos/alexcgdesign/modal-moderno/img/
content/cursos/items/javascript/articulos/
content/cursos/items/javascript/cheatsheets/
content/cursos/items/javascript/src/img/
content/cursos/items/laravel/src/img/
content/cursos/items/mysql/cheatsheets/
content/cursos/items/mysql/src/img/
content/cursos/items/node/src/img/
content/cursos/items/php/src/img/
content/cursos/items/react/src/img/
.env
*.log
.DS_Store