 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
 }

 .text-white{
  color: white;
 }

 h2{  
  text-align: end;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  color:tomato;
  padding-left: 2rem;
 }

 h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
  margin: 100px 0;
 }

 h3 span{
  background-color: tomato;
  padding: 10px;
  border-radius: 5px;
 }

 h4{
  color: blue
 }

 .article{
  margin: 30px auto;
 }

.contenedor{  
  position: relative; 
  width: 90%;
  padding:2rem;
}

.content{
  position: fixed;
  top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 20% 75%;
  grid-template-rows: 1fr;
}

.indice{  
  background-color: tomato;
  height: 90vh;
  position: sticky;
  overflow-y: auto;
}

.nav-indice{  
  height: 100%;  
  width: 100%;
}

.contenido{  
  border: 1px solid orange;
  height: 90vh;
  position: sticky;
  overflow-y: auto;
} 

.indice-item{  
  list-style: none;
  margin-left: 10px;
}

.indice-item > a{
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  line-height: 2;  
}

.sub-indice{
  /* border: 1px solid blue; */
  width: 70%;
  margin-left: 30px;
}

.sub-indice-item{
  line-height: 2;
  list-style: square;
  /* border: 1px solid green; */
  width: auto;
}

.sub-indice-item a{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgba(12, 12, 12, 0.802);  
  display: block;
  &:hover{
    color: white;
    transition: color 0.5s linear;
  }
}

.sub-indice-item a::after{  
  display: block;
  height: 2px;
  content: "";
  opacity: 0;
  transition: all 0.5s linear;
}

.sub-indice-item a:hover::after{  
  background-color: yellow;  
  opacity: 1;
  width: 100%;
  transition: all 0.5s linear;
}

.section{
  position: relative;
}

/* CONTENIDO */
.text-tomato{
  color: tomato;
}

.me-2{
  margin-right: 10px;
}

.ms-2{
  margin-left: 10px;
}

.ms-5{
  margin-left: 50px;
}

.p-2{
  padding: 20px;
}

.p-3{
  padding: 30px;
}

.p-5{
  padding: 50px;
}

.my-2{
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.my-3{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.div-content{
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red;   */
}

.section{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  line-height: 2;
}

.list{
  list-style: none;
  margin-left: 30px;
}

.pre-list{
  background-color: rgba(27, 28, 27, 0.841);
  width: 80%;
  margin: 3rem auto;
  border: 4px solid rgb(169, 165, 161);
  border-radius: 5px;
  color:white;
  white-space: pre-line;
  font-size: 0.6em;
  padding: 0 60px;
}

p.destacado{  
  border: 1px solid rgb(228, 224, 224);
  border-left-color: tomato;
  border-left-width : 10px;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 5px 2px 5px rgb(210, 208, 208);
}

.img_100{
  width: 100%;
  max-width: 100%;
}

.img_50{
  width: 50%;
  max-width: 50%;
}

.img_75{
  width: 75%;
  max-width: 75%;
}

dl{
  margin: 20px 0;
}

dl span{
  color: rgb(51, 169, 215);
}

dl span::after{
  content:"";
  border: 3px solid yellow;
  display: block;
  width: 100px;
}

dt{
  margin-left: 2rem;
}

.m-auto{
  margin: 3rem auto;
  text-align: center;
}

.tabla-outline{
  width: 100%;
}

.borde{
  border: 1px solid rgb(218, 216, 216)
}

/* POSITIONS */
.div-position, .div-position-zindex{
  width: 80%;
  height: 300px;
  padding: 10px;
}

.div-pos-absolute, .div-pos-abs-ejerc{
  position: relative;
  width: 80%;
  height: 550px;
  padding: 10px;
}

.div-position .box, .div-pos-absolute .box, .div-pos-abs-ejerc .box{  
  width: 100px;
  height: 100px;
}

.div-position .pos-box-1{
  position: relative;
  top: 20px;
  left: 200px;
}

.div-position .pos-box-2{
  position: relative;
  top: -50px;
  right: -50px;
}

.div-position-zindex .box-1, .div-position-zindex .box-2, .div-position-zindex .box-3, .div-position-zindex .box-4{
  position: relative;
}

.div-position-zindex .box{
  width: 100px;
  height: 100px;
}

.div-position-zindex .box-1{
  background-color: pink;
}

.div-position-zindex .box-2{
  background-color: blue;
  top: -50px;
  right: -50px;
}

.div-position-zindex .box-3{
  background-color: red;
  top: -100px;
  right: -100px;
}

.div-position-zindex .box-4{
  background-color: green;
  top: -150px;
  right: -150px;
}

.div-super-position-zindex .box-1, .div-super-position-zindex .box-2, .div-super-position-zindex .box-3, .div-super-position-zindex .box-4{
  position: relative;
}

.div-super-position-zindex{
  width: 80%;
  height: 300px;
  padding: 10px;
}

.div-super-position-zindex .box{
  width: 100px;
  height: 100px;
}

.div-super-position-zindex .box-1{
  background-color: pink;
  z-index: 99;
}

.div-super-position-zindex .box-2{
  background-color: blue;
  top: -50px;
  right: -50px;
  z-index: 999;
}

.div-super-position-zindex .box-3{
  background-color: red;
  top: -100px;
  right: -100px;
  z-index: 400;
}

.div-super-position-zindex .box-4{
  background-color: green;
  top: -150px;
  right: -150px;
  z-index: 600;
}

.div-video{
  display: block;
  width: 90%;
}

.div-pos-absolute .box-4{
  position: absolute;
  left: 200px;
}

.div-pos-abs-ejerc {
  & .box-1, .box-2, .box-3, .box-4, .box-5{
  position: absolute;
  }
}

.div-pos-abs-ejerc .box-1{
  top: 0;
  left: 0;
}

.div-pos-abs-ejerc .box-2{
  top: 0;
  right: 0;
}

.div-pos-abs-ejerc .box-3{
  bottom: 0;
  left: 0;
}

.div-pos-abs-ejerc .box-4{  
  bottom: 0;
  right: 0;
}

.div-pos-abs-ejerc .box-5{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.div-position-sticky{
  width: 90%;
  padding: 3rem;
  position: relative;
}

.slide{
  position: sticky;
  top: 0;
}

.menu{
  position: sticky;
  top: 50px;
}

.titulo{
  position: relative;  
}

.div-d-inline, .div-d-inline-2, .div-inline-block{
  width: 90%;  
  height: 150px;
}

.div-d-inline span{
  background-color: yellow;
  padding: 20px 0;
}

.div-d-inline-2 span{
  padding: 20px 0;
}

.div-inline-block span, .div-inline-block p{
  display: inline-block;
}

.input{
  width: 600px;
  padding: 10px 0;
  border: 1px solid #eadfdf;
  border-radius: 5px;
}

.inputEnable:enabled{
  background-color: aqua;
}

.inputDisable:disabled{
  background-color: rgb(71, 119, 232);
}

.inputRange:in-range{
  padding: 10px 10px;
  width: 100px;
  background-color: rgb(217, 225, 228);  
  color:black;
  outline-color: aqua;
  border: 2px solid rgb(210, 214, 214);
  border-radius: 5px;
}

.inputOfrange{
  padding: 10px 10px;
  width: 100px;
  background-color: rgb(217. 225. 228);
  color:black;
  outline-color: aqua;
  border: 2px solid rgb(210, 214, 214);
  border-radius: 5px;
}

.inputOfrange:out-of-range{
  padding: 10px 10px;
  width: 100px;
  background-color: red;  
  color:white;
  outline-color: red;
  border: 2px solid rgb(210, 214, 214);
  border-radius: 5px;
}

.first-child .hijo:first-child{
  background-color: blue;
  color: white;
}

.last-child .hijo:last-child{
  background-color: tomato;
  color: white;
}

.nth-child .hijo:nth-child(2){
  background-color: red;
  color: white;
}

.odd-nth-child .hijo:nth-child(odd){
  background-color: yellow;
  color: tomato;
}

.even-nth-child .hijo:nth-child(even){
  background-color: black;
  color: white;
}

.ecuacion-nth-child .hijo:nth-child(3n){
  background-color: lightsalmon;
  color: white;
}

.nth-last-child .hijo:nth-last-child(4){
  background-color: skyblue;
  color: white;
}

.first-of-type .hijo:first-of-type{
  background-color: lightpink;
  color: white;
}

.last-of-type .hijo:last-of-type{
  background-color: lightpink;
  color: white;
}

.nth-of-type .hijo:nth-of-type(5){
  background-color: lightpink;
  color: white;
}

.nth-last-of-type .hijo:nth-last-of-type(2){
  background-color: lightpink;
  color: white;
}

.not .clase_comun:not(div){
  background-color: greenyellow;
  color: tomato;
}