---
// ¡Bienvenidos a Astro! Todo lo que hay entre estas vallas de código de triple guión
// es su "frontal de componente". Nunca se ejecuta en el navegador.
console.log('This runs in your terminal, not the browser!');
---
<!-- A continuación se muestra su "plantilla de componentes". Es sólo HTML, pero con
     algo de magia para ayudarte a crear excelentes plantillas. -->
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
    <style>
      h1 {
        color: blue;
      }
    </style>
  </head>
  <body>
    <h1>Hola, Mundo Astro!</h1>
  </body>
</html>
