<!-- 

<li><i class="bi bi-check-all"></i></li>
<li><i class="bi bi-check2-square"></i></li>
<li><i class="bi bi-back"></i></li>
<li><i class="bi bi-caret-right-fill"></i></li>
<li><i class="bi bi-shield-fill-check"></i></li>
<li><i class="bi bi-book-half"></i></li>

<div class="mt-5">
  <dl>
    <dt><b><em></em></b></dt>
    <dd>
    </dd>
  </dl>
</div>

div class="nota" del modulo HTML:

<div class="nota mb-5 d-flex justify-content-around">
  <div class="px-3">
    <span><i class="bi bi-exclamation-circle-fill"></i></span>      
  </div>
  <div>
    <p>Nota: .</p>      
  </div>
</div>
-->

<!-- 
<div class="card mb-5">
  <div class="card-header text-dark bg-warning">
    MINITITULO
  </div>
  <div class="card-body text-dark bg-yellow">
    <h3 class="card-title p-0 mx-0 my-3">SUBTITULO</h3>
    <hr>
    <p class="fs-6">TEXTO</p>
  </div>
</div>
-->

<!-- <div class="row">
  <div class="col-4">
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1"
        >name1</a
      >
      <a class="list-group-item list-group-item-action" href="#list-item-2"
        >name2</a
      >
    </div>
  </div>
  <div class="col-8">
    <div
      data-bs-spy="scroll"
      data-bs-target="#list-example"
      data-bs-smooth-scroll="true"
      class="scrollspy-example scroll-item"
      tabindex="0"
    >
      <div>
        <h4 id="list-item-1">name1:</h4>
        <p></p>
      </div>
      <div>
        <h4 id="list-item-1">name2:</h4>
        <p></p>
      </div>
    </div>
  </div>
</div> -->

<!--
  <nav class="nav-indice">
    <ul class="list-indice list-unstyled">
      <li><a href="#"><i class="bi bi-book-half"></i></a></li>
      <li><a href="#"><i class="bi bi-book-half"></i></a></li>
      <li><a href="#"><i class="bi bi-book-half"></i></a></li>
      <li><a href="#"><i class="bi bi-book-half"></i></a></li>
      <li><a href="#"><i class="bi bi-book-half"></i></a></li>          
      <li class="px-3 d-flex justify-content-start">
        <i class="bi bi-book-half"></i>
        <div class="dropdown">
          <a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Subitems</a>
          <ul class="dropdown-menu">
            <li class="m-0"><a class="dropdown-item" href="#"></a></li>
            <li class="m-0"><a class="dropdown-item" href="#"></a></li>                
            <li class="m-0"><a class="dropdown-item" href="#"></a></li>
          </ul>              
        </div>
      </li>
    </ul>
  </nav>
-->

<!-- section para el modulo de javascript -->
<!-- <section class="content-section">
    <h1 class="my-5"></h1>
    <p class="destacado my-4"></p>
    <article id="" class="article my-5">
      <h2 class="my-5"></h2>
      <div class="w-100 mt-5">
        <p class="destacado my-4"></p>
        <ul class="ul-contenido">
          <li class="li-contenido text-dark my-4"><i class="bi bi-back"></i></li>
          <li class="li-contenido text-dark my-4"><i class="bi bi-back"></i></li>
        </ul>
        <pre class="pre-content-list bg-blue my-4">
          <code>
          </code>
        </pre>
      </div>
    </article>
  </section>
 -->

<!--
<div class="col-md-9 px-md-4">
  <section class="content-section">    
      <h1 class="text-center text-info mt-3"></h1>
      <p class="destacado my-4"></p>
      <article id="" class="article my-5">
        <h2 class="my-5"></h2>
        <div class="w-100 mt-5">
          <p class="destacado my-4"></p>
          <ul class="list-unstyled">
            <li class="fs-5 text my-3"><i class="bi bi-back"></i></li>
            <li class="fs-5 text my-3"><i class="bi bi-back"></i></li>
          </ul>
          <pre class="pre-content-list bg-blue my-4">
            <code>
            </code>
          </pre>
        </div>
      </article>    
  </section>
</div>
-->

<!-- Plantilla de ejercicios Javascript -->
<!-- 
<div class="grid">
  <div class="w-100">
    <pre class="pre-content-list bg-blue">
      <code>
        
      </code>
    </pre>
  </div>
  <div class="resultado">
    <div class="w-90 d-flex">
      <pre class="pre-content-list bg-blue w-100">
        <code>
          
        </code>
      </pre>
    </div>
    <div class="w-90 d-flex">
      <button class="my-4" type="button" id="btn-seleccionar">TEXT</button>
    </div>
    <div class="w-90 d-flex">
      <output id="salida"></output>
    </div>
  </div>
</div>
 -->
