* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    color: #222;
    background: #f7f7f7;
}

.hero {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 6rem 0;
}

.hero__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero__subtitle {
    font-size: 1.1rem;
    color: #717171;
    margin-bottom: 2rem;
}

.hero__img {
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    margin: 1.5rem auto;
}

.btn {
    font: inherit;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: white;
    color: #222;
}

.btn:hover {
    border-color: #222;
}

.modal {
    border: none;
    border-radius: 16px;
    width: 90vw;
    max-width: 480px;
    background: white;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
    margin: auto;

    opacity: 0;
    transform: scale(.5);
    transition-property: opacity, transform, display;
    transition-duration: .25s;
    transition-behavior: allow-discrete;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.555);
}

.modal[open] {
    opacity: 1;
    transform: scale(1);
}

@starting-style{
    .modal[open] {
        opacity: 0;
        transform: scale(.5);
    }
}

.modal__header {
    padding: 1.5rem 1.5rem 0 1.5rem;
}


.modal__close {
    position: absolute;
    top: 1rem;
    left: 1rem;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    background: none;
    border: none;
    color: #717171;

    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s ease;
}

.modal__close:hover {
    background: #f7f7f7;
}

.modal__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #222;
    margin: 0;
    padding: 0 2rem;
    text-align: center;
}

.modal__content {
    padding: 1.5rem;
}

.modal__description {
    font-size: 0.95rem;
    color: #222;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}



@media (max-width: 768px) {

    .hero__title {
        font-size: 2rem;
    }

}